@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans+Condensed:wght@300;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

:root {
  --gray: #92989c;
  --light: #eaebec;
  --yellow: #eab10c;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Titillium Web", "Open Sans Condensed", "Montserrat", "Krona One",
    sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--light);
  z-index: 100;
  padding: 1rem 2rem;
  box-shadow: rgba(234, 177, 12, 0.25) 0px 13px 27px -5px,
    rgba(119, 92, 13, 0.3) 0px 8px 16px -8px;
}
.header .logo img {
  height: 100% !important;
}
.header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 1.5rem;
}

.header nav ul li a {
  font-family: "Open Sans Condensed";
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray);
}

.header nav ul li a:hover {
  color: var(--yellow);
  text-decoration: none;
}

.header .fa-bars {
  font-size: 6.5rem;
  color: var(--gray);
  cursor: pointer;
  display: none;
}

.fa-times {
  transform: rotate(360deg);
}

.home .hero {
  min-height: 70vh;
  background: url(../img/home.01.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
}

.home .hero .text1 {
  margin-top: 30rem;
  font-size: 10rem;
  width: 85rem;
  padding: 1rem 2rem;
  text-align: center;
  background: var(--light);
  opacity: 0.5;
}

.home .hero .text2 {
  font-size: 5rem;
  width: 65rem;
  padding: 1rem 2rem;
  text-align: center;
  background: var(--yellow);
  margin-left: 49rem;
  margin-top: 1rem;
  opacity: 0.6;
}

.home .counting {
  min-height: 40vh;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .counting .box {
  margin: 2rem 3rem;
  text-align: center;
}

.home .counting .box .count {
  font-size: 7rem;
  font-weight: 700;
  color: var(--gray);
}
.home .counting .box h3 {
  font-size: 3rem;
  color: var(--yellow);
}

.about {
  min-width: 95%;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.about .image {
  padding: 2rem;
}

.about .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgb(179, 142, 31) 0px 20px 30px -10px;
}

.about .info {
  padding: 2rem;
  margin-top: 3rem;
}

.about .info h2 {
  color: #eab10c;
  font-size: 5.2rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about .info p {
  font-size: 2.5rem;
  font-weight: 100;
  color: #92989c;
  text-transform: none;
  margin: 2rem 0;
}

.about .info .icons a {
  font-size: 4rem;
  height: 6rem;
  width: 6rem;
  text-align: center;
  line-height: 6rem;
  background: #92989c;
  border-radius: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
  color: #ffcc00;
  box-shadow: rgb(179, 142, 31) 0px 20px 30px -10px;
}
.about .info .icons a:hover {
  background: #eab10c;
  color: #92989c;
}

.heading {
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.7rem;
  color: #92989c;
  margin: 2rem 0;
  padding-top: 6rem;
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.services {
  min-height: 100vh;
}

.services .box-container {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .box-container .box {
  height: 52rem;
  width: 52rem;
  box-shadow: rgb(179, 142, 31) 0px 20px 30px -10px;
  border-left: 0.5rem solid var(--yellow);
  border-right: 0.5rem solid var(--yellow);
  border-radius: 2rem;
  text-align: center;
  padding-top: 3rem;
  margin: 2rem 3rem;
}
.services .box-container .box .fas {
  color: var(--gray);
  font-size: 10rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.services .box-container .box p {
  font-size: 2.5rem;
  font-weight: 100;
  padding: 2rem 0;
  color: #92989c;
  text-transform: none;
  margin: 2rem 1.5rem;
  object-fit: cover;
}

.projects {
  min-height: 100vh;
}
.projects .heading {
  background: #eab10c;
  padding-bottom: 5rem;
}

.projects .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects .box-container .box {
  height: 50rem;
  width: 80rem;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: rgb(179, 142, 31) 0px 20px 30px -10px;
}

.projects .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.projects .box-container .box img:hover {
  transform: scale(1.2);
}

/* =========================================== */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header .fa-bars {
    display: block;
  }
  .header nav {
    position: fixed;
    top: 11rem;
    right: -120%;
    height: calc(100vh - 11rem);
    width: 100vw;
    background: var(--gray);
    z-index: 1000;
    border-top: 0.3rem solid black;
  }
  .header nav ul {
    height: 100%;
    width: 43rem;
    background: var(--light);
    flex-flow: column;
    justify-content: center;
    float: right;
  }
  .header nav ul li {
    margin: 1rem 0;
  }
  .header nav ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 4rem;
    width: 35rem;
    border-radius: 5rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .header nav ul li a:hover {
    background: var(--yellow);
    color: var(--light);
  }

  .header nav ul li a:active {
    transform: translateY(10px);
  }
  .header .nav-toggle {
    right: 0;
  }
  .home .hero .text2 {
    font-size: 5rem;
    width: 65rem;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--yellow);
    margin-left: 25rem;
    margin-top: 1rem;
    opacity: 0.6;
  }
}

@media (max-width: 375px) {
  .pl-5,
  .px-5 {
    padding-left: 3rem !important;
  }
  .home .hero {
    min-height: 70vh;
    background: url(../img/00.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
  }
  .header .logo img {
    width: 70%;
  }
  .header nav {
    position: fixed;
    top: 8.5rem;
    right: -130%;
    height: calc(100vh - 8.5rem);
    width: 130vw;
  }
  .home .hero .text1 {
    margin-top: 35rem;
    font-size: 5rem;
    width: 35rem;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--light);
    opacity: 0.5;
  }

  .home .hero .text2 {
    font-size: 3rem;
    width: 25rem;
    padding: 1rem 2rem;
    text-align: center;
    background: var(--yellow);
    margin-left: 19rem;
    margin-top: 1rem;
    opacity: 0.6;
  }
  .header .fa-bars {
    margin-right: 20px;
  }
  .home .counting .box .count {
    font-size: 5rem;
    font-weight: 500;
  }
  .heading {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.7rem;
  }
  .about {
    padding-top: 3rem;
  }
  .about .info h2 {
    color: #eab10c;
    text-align: center;
    font-size: 4.5rem;
  }
  .about .info .icons {
    text-align: center;
  }
  .services .box-container .box p {
    font-size: 2.2rem;
    font-weight: 500;
    margin: 0 0.5rem;
  }
}
